///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/

$number-of-columns:         12;
$radius:                    2px;
$transition:                (1 / 5) + s;

$header-height:             82px;
$header-height-lg:          90px;
$primary-menu-height-md:    2.5rem;
$primary-menu-height-lg:    3.6875rem;
$pro-header-height:         40px;
$pro-logo-height:           18px;
$pro-header-height-lg:      60px;
$pro-logo-height-lg:        24px;
$secondary-menu-height:     1.875rem;
$quicklinks-menu-height:    2.5rem;
$cursor-disabled:           not-allowed;
$subnavigation-menu-height: 66px;
$subnavigation-menu-height-md: 66px;
$subnavigation-menu-height-lg: 66px;
